
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Add a Student</title>
    <script type="text/javascript"
            src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" th:src="@{/js/ajax.js}"></script>
</head>
<body>


<h1> Add new  Student </h1>
<div id="solution"></div>

<!--<form method="post" id="container" >-->
<!--    <p>First Name: <input type="text">-->
<!--    <p>Last Name: <input type="text">-->
<!--    <p>Date Of gratuation : <input type="text" >-->
<!--    <p>Descripion : <input type="text" ></p>-->
<!--    <p>Address: </p>-->
<!--    <p>Street: <input type="text" ></p>-->
<!--    <p>City: <input type="text"></p>-->
<!--    <p>State: <input type="text"></p>-->
<!--    <p>Zip Code: <input type="text"></p>-->


<!--   <p><input type="submit" id="studentForm" value="Add"> </p>-->

<!--</form>-->






<form method="post"  id= "container" th:object="${newStudent}">
    <p>First Name: <input th:field="*{firstName}" placeholder="Dawit">
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:errorclass="errors"></span></p>
    <p>Last Name: <input th:field="*{lastName}" placeholder="Hailu">
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:errorclass="errors"></span></p>

    <p>Date Of gratuation : <input th:field="*{dateOfEmp}" placeholder="2011-07-24">
        <span th:if="${#fields.hasErrors('dateOfEmp')}" th:errors="*{dateOfEmp}" th:errorclass="errors"></span></p>

    <p>Descripion : <input th:field="*{descripion}" placeholder="Good">
        <span th:if="${#fields.hasErrors('descripion')}" th:errors="*{descripion}" th:errorclass="errors"></span></p>

    <p>Address: </p>
    <p>Street: <input th:field="*{address.street}" placeholder="9030 MarkVille">
        <span th:if="${#fields.hasErrors('address.street')}" th:errors="*{address.street}" th:errorclass="errors"></span></p>
    </p>
    <p>City: <input th:field="*{address.city}" placeholder="Dallas">
        <span th:if="${#fields.hasErrors('address.street')}" th:errors="*{address.street}" th:errorclass="errors"></span></p>
    </p>
    <p>State: <input th:field="*{address.state}" placeholder="Texas">
        <span th:if="${#fields.hasErrors('address.state')}" th:errors="*{address.state}" th:errorclass="errors"></span></p>
    </p>
    <p>Zip Code: <input th:field="*{address.zipCode}" placeholder="75243">
        <span th:if="${#fields.hasErrors('address.zipCode')} " th:errors="*{address.zipCode}" th:errorclass="errors"></span>
    </p>
    <p>Phine Number: <input th:field="*{phone}" >
        <span th:if="${#fields.hasErrors('phone')} " th:errors="*{phone}" th:errorclass="errors"></span>
    </p>

    </p>


    <!--   <p> Role:-->
    <!--    <select th:field="role">-->
    <!--        <option th: value="">Select role</option>-->
    <!--        <options th:items="${roles}"/> <th:errors path="role"/>-->
    <!--    </th:select>-->
    <!--    <th:errors path="role"/>-->
    <!--    </select>>-->
    <!--    </p>-->
    <input type="submit" id="studentForm" value="Add">

</form>



</body>
</html>


</body>
</html>